@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lugrasimo&family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&family=Ubuntu:ital,wght@1,300;1,400&display=swap');

.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}
.firstSection > div{
    width: 30%;
}
.leftSection{
    font-size: 2rem;
}
.leftSection .buttons{
    padding: 50px 0;
}
.btn{
    background-color: #1e2167;
    border: 2px solid #fff;
    border-radius: 22px;
    color: beige;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 3px;
}

.btn a{
    text-decoration: none;
    color: beige;
}

.btn:hover{
    background-color: beige;
    color: #1e2167;
}
.rightSection img{
    width: 80%;
    background: transparent;
}
#element{
    color: rgb(170, 135, 203);
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.6rem;
}
.secondSection .box{
    width: 74vw;
    background-color: white;
    height: 1.5px;
    margin: 56px 0;
    display: flex;
}
.flex ul{
    list-style: none;
}
.flex > div{
    width: 200px;
}

.fourthSection{
    display: flex;
    justify-content: space-around;
}

/* //Contact */

.main hr {
    margin: 30px 148px;
}

.contactform{
    padding-top: 2px;
}

.contactform h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 30vw;
    border-radius: 8px;
    margin: 6px 0 0 0;
    padding: 4px;
}

.contactform form div label{
    font-size: 18px;
}

#emailHelp{
    margin: 0 5px;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 4px 8px;
}

/* Project Form */

.projects{
    margin: 7% 10%;
}

.project-icon{
    width: 200px;
}

.projectlist{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 20%;
    padding: 2%;
}

.projectlist ul{
    list-style: none;
    font-size: 19px;
}

.projectlist ul li{
    margin: 4px;
    padding: 2px;
}

.projectlist ul p{
    font-size: 7px;
    margin: 2px;
    padding: 1px;
    color: rgb(110, 110, 106);
}

.projectlist ul p a{
    text-decoration: none;
    margin: 1px;
    color: rgb(255, 0, 0);
}

/* About Page */

.about h2{
    text-align: center;
}

.about p{
    font-family: sans-serif;
}

.skillscontainer{
padding: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.skill{
    width: 260px;
    height: 4px;
    background-color: red;
    border-radius: 4px;
    border: 1px grey solid;
    margin: 0;
}
.skills{
    width: 235px;
    border: 1px grey solid;
    border-radius: 4px;
    margin: 0 6px;
    height: 6px;
}

.fifty{
    width: 130px;
    background-color: yellowgreen;
}

.twenty-five{
    width: 65px;
    background-color: #1e2167;
}

.seventy-five{
    width: 195px;
    background-color: brown;
}